{"filter":false,"title":"phpunit.xml.dist","tooltip":"/phpunit.xml.dist","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":240,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":19,"state":"start","mode":"ace/mode/xml"}},"timestamp":1507820704961,"hash":"a3e25c473f5158cba706fcb6000fa53d06e13d55"}