/src/app_react/*
/vendor/*
/config/app.php
/tmp/*
/logs/*
/webroot/files/*
/webroot/pdf/*
/vendor.tar.gz
/credenciales.txt
/historia_del_sistema.txt
/migracion35.txt
/migracion36.txt
/PendientesProduccion.txt
.env.sh
/Documentacion/
/documentacion/
archivos_chat_gemini/
*copy*
*copia*
*- copia*

# Ignorar archivos comprimidos en cualquier directorio
*.zip
*.tar.gz
*.tgz
*.tar
*.rar
